
#contenido{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
#cabecera{
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: green;
    font-size: 40px;
    font-weight:bold;
}
#cabecera:hover{
    text-shadow: 1px 1px gray;
}
#menu{
    width: 150px;
    padding: 10px;
    clear: both;
    float: left;
}
#menu a{
    display: block;
    font-size: 22px;   
    color: #004d00;
    text-decoration: none;
}
#menu a:hover{
    background-color: lightgray;
    border-radius: 15px;
}
#contenidoC{
    width: 625px;
    padding: 10px;
    float: left;
}
section{
    width: 600px;
    padding: 10px;
    float: left;
    text-align: center;
    }
#lateralD{
    width: 150px;
    padding: 10px;
    float: left;
    text-align: center;
    font-size: 22px;
    color: #004d00;
    border-bottom: 6px solid red;
    border-top: 6px solid red;
    border-radius: 25px;
}
#lateralD img  { 
    width: 120px;
}

#lateralD:hover{
    color: rgb(231, 25, 36);
}
.subir{
    width: 960px;
    padding: 10px;
    margin: 10px;
    float: left;
    text-align: center;
    color: black;
    background-color: navajowhite;
    text-decoration: none;
}
.subir:hover{
    color: white;
    background-color: green;
}
#pie{
    width: 1000px;
    float: left;
    padding: 5px;
}
h1{
    color: white; background-color: green;
    text-align: center;
}
footer{
    color: black;
    text-align: center;  
}
footer a {
    color: black;
    text-decoration: none;    
}
table, table td {
    margin: 0 auto;
    border: 5px solid green;
    border-radius: 25px;
}
table td {
    margin: 0 auto;
    border: 3px solid green;

}
.tableenunciado {
    color:blue;
    border: none;
    font-weight: bold;
}
.tabletipos, .tabletotal {
    color: blue;
    font-weight:bold;
    border: 4px solid black;
}
#estiloFormulario  {
    background: linear-gradient( rgb(191, 248, 158), white);
    border: 5px solid green;
    border-radius: 30px;
    padding: 20px;
    font-weight: bold;
}
#estiloFormulario input[type=checkbox], input[type=reset] {
    background-color:lightgray;
    color: blue;
    cursor: pointer;
}
section img {
    width: 250px;
    border-radius: 10px;
}
section img:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
section video{
    width: 590px;
    border-radius: 10px;
}
ol, ul{
    text-align: left;

}
ol {
    list-style-type: upper-roman;
}
ol:hover {
    list-style-type: disc;
    background-color: rgb(191, 248, 158);
    border-bottom: 15px solid green;
    border-radius: 40px;
    font-weight: bold;
    color: green;
}
ul:hover {
    background-color: rgba(79, 166, 238, 0.507);
    border-bottom: 15px solid blue;
    border-top: 15px solid blue;
    border-radius: 30px;
    font-weight: bold;
    color: blue;
}
iframe{
     width: 560px;
     height: 315px;
}